<!doctype html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
    <!-- umami analytics -->
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="c5daf481-a19e-4e16-89b5-67f08805eb42"
    ></script>
  </head>
  <body class="font-sans">
    {{ if not .IsHome }}
      <header>
        {{ block "header" . }}
          {{ partial "nav.html" . }}
        {{ end }}
      </header>
    {{ end }}
    {{ block "main" . }}{{ end }}
    <footer class="footer footer-center bg-base-300 p-4 text-base-content">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
