<!doctype html>
{{ if .IsHome }}
  <html
    lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
    data-theme="light"
  >
{{ else }}
  <html lang="{{ or site.Language.LanguageCode site.Language.Lang }}">
{{ end }}
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="font-sans">
    {{ if not .IsHome }}
      <header>
        {{ block "header" . }}
          {{ partial "nav.html" . }}
        {{ end }}
      </header>
    {{ end }}
    {{ block "main" . }}{{ end }}
    {{ if not .IsHome }}
      <footer class="footer footer-center bg-base-300 p-4 text-base-content">
        {{ partial "footer.html" . }}
      </footer>
    {{ end }}
  </body>
</html>
