{{ define "main" }}
  <!-- nav (<lg) -->
  <header class="lg:hidden">
    <nav class="navbar flex items-center justify-between">
      <ul class="space-x-4 px-2">
        <li>
          <a class="border-y-2 border-primary py-1" href="/">Home</a>
        </li>
        <li>
          <a class="py-1" href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- hero -->
  <section
    class="flex h-screen flex-col justify-center from-base-100 from-50% to-primary to-50% lg:justify-between lg:bg-diagonal-cut"
  >
    <!-- nav (>=lg) -->
    <header class="hidden lg:block">
      <nav class="navbar flex items-center justify-between">
        <ul class="space-x-4 px-2">
          <li>
            <a class="border-y-2 border-primary py-1" href="/">Home</a>
          </li>
          <li>
            <a class="py-1" href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{- with resources.Get "murtaza-udaipurwala.webp" }}
        <img
          loading="eager"
          class="mx-auto rounded-full shadow-xl"
          src="{{ .RelPermalink }}"
          alt="Photo of Murtaza Udaipurwala"
          width="300px"
        />
      {{- end }}
      <h1 class="mb-5 mt-10 text-center text-4xl font-bold tracking-wide">
        MURTAZA UDAIPURWALA
      </h1>
      <ul class="flex justify-center space-x-4 px-2">
        {{- with resources.Get "icon/email-28x.svg" }}
          <li>
            <a class="py-1" href="mailto:murtaza@murtazau.xyz" target="_blank">
              <img src="{{ .Permalink }}" alt="E-Mail" />
            </a>
          </li>
        {{- end }}
        {{- with resources.Get "icon/github-28x.svg" }}
          <li>
            <a class="py-1" href="https://github.com/murtaza-u" target="_blank">
              <img src="{{ .Permalink }}" alt="GitHub" />
            </a>
          </li>
        {{- end }}
        {{- with resources.Get "icon/mastodon-28x.svg" }}
          <li>
            <a
              class="py-1"
              href="https://hachyderm.io/@murtaza"
              target="_blank"
            >
              <img src="{{ .Permalink }}" alt="Mastodon" />
            </a>
          </li>
        {{- end }}
        {{- with resources.Get "icon/twitter-28x.svg" }}
          <li>
            <a
              class="py-1"
              href="https://twitter.com/murtaza_u_"
              target="_blank"
            >
              <img src="{{ .Permalink }}" alt="Twitter" />
            </a>
          </li>
        {{- end }}
        {{- with resources.Get "icon/linkedin-28x.svg" }}
          <li>
            <a
              class="py-1"
              href="https://linkedin.com/in/murtaza-u"
              target="_blank"
            >
              <img src="{{ .Permalink }}" alt="Linkedin" />
            </a>
          </li>
        {{- end }}
      </ul>
    </main>
    <aside class="hidden lg:block">
      {{- with resources.Get "gopher.png" }}
        <img src="{{ .Permalink }}" alt="Gopher" width="100px" />
      {{- end }}
    </aside>
  </section>
{{ end }}
