{{ define "main" }}
  <main
    class="mb-10 mt-5 min-h-screen space-y-4 px-3 lg:mx-auto lg:w-3/5 lg:px-0"
  >
    <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">
      {{ .Date | time.Format "Jan 02, 2006" }}
    </time>
    <h1 class="text-5xl font-bold tracking-wide">{{ .Title | title }}</h1>
    <p>{{ .Params.description }}</p>
    <hr />
    <article class="text-lg">
      {{ .Content }}
    </article>
    {{ with .GetTerms "tags" }}
      <hr />
      <ul class="flex flex-wrap">
        {{ range . }}
          <li class="m-1">
            <a class="link-hover link link-accent" href="{{ .RelPermalink }}">
              #{{ .LinkTitle }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </main>
{{ end }}
