:root {
  --blockquoute-bg-color: #e5e6e6;
  --blockquoute-left-bar-color: black;
  --link-text-color: #0000ff;
  --even-tr-bg-color: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --blockquoute-bg-color: #1d2120;
    --blockquoute-left-bar-color: white;
    --link-text-color: #7c9fc2;
    --even-tr-bg-color: #202024;
  }
}

article p {
  margin: 1rem 0 0 0;
}

article ul {
  list-style: disc;
  margin: 1rem 0 1rem 1rem;
}

article ol {
  list-style: decimal;
  margin: 1rem 0 1rem 1rem;
}

article li {
  margin: 0.4rem 0 0 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-top: 2rem;
}

article h1 {
  font-size: 3rem;
  line-height: 1;
}

article h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

article h3 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

article h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

article h5,
article h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

article pre {
  margin: 1rem 0;
  padding: 1rem;
  overflow: scroll;
  border-radius: 0.5rem;
}

article ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

article img {
  margin: 0.5rem auto;
}

article blockquote {
  background-color: var(--blockquoute-bg-color);
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 6px solid var(--blockquoute-left-bar-color);
  font-style: italic;
  margin: 0.5rem 0;
}

article a {
  color: var(--link-text-color);
}

article a:hover {
  text-decoration: underline;
}

article table {
  text-align: left;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 0.8em;

  tr:nth-child(even) {
    background-color: var(--even-tr-bg-color);
  }

  thead {
    background-color: black;
    color: white;
  }

  td,
  th {
    padding: 0.5rem;
  }
}

article table,
article th,
article td {
  border: 0.5px solid black;
  border-collapse: collapse;
  white-space: nowrap;
}
