article p {
  margin: 1rem 0 0 0;
}

article ul {
  list-style: disc;
  margin: 1rem 0 1rem 1rem;
}

article ol {
  list-style: decimal;
  margin: 1rem 0 1rem 1rem;
}

article li {
  margin: 0.4rem 0 0 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-top: 2rem;
}

article h1 {
  font-size: 3rem;
  line-height: 1;
}

article h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

article h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

article h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

article h5,
article h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

article pre {
  margin: 1rem 0;
  padding: 1rem;
  overflow: scroll;
  border-radius: 0.5rem;
}

article ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

article img {
  margin: 0.5rem auto;
}

article blockquote {
  background-color: #e5e6e6;
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 6px solid black;
  font-style: italic;
  margin: 0.5rem 0;
}

article a {
  color: #0000ff;
}

article a:hover {
  text-decoration: underline;
}
