<nav class="navbar flex items-center justify-between">
  <ul class="space-x-4 px-2">
    <li>
      <a
        href="/"
        {{ if or (eq .RelPermalink "/" ) (eq .RelPermalink "" ) }}
          class="py-1 border-y-2 border-primary"
        {{ else }}
          class="py-1"
        {{ end }}
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/blog"
        {{ if or (eq .RelPermalink "/blog" ) (eq .RelPermalink "/blog/" ) }}
          class="py-1 border-y-2 border-primary"
        {{ else }}
          class="py-1"
        {{ end }}
      >
        Blog
      </a>
    </li>
    <li>
      <a
        href="/thoughts"
        {{ if or (eq .RelPermalink "/thoughts" ) (eq .RelPermalink "/thoughts/" ) }}
          class="py-1 border-y-2 border-primary"
        {{ else }}
          class="py-1"
        {{ end }}
      >
        Thoughts
      </a>
    </li>
  </ul>
  <ul class="space-x-4 px-2">
    <li>
      <a href="https://github.com/murtaza-u" target="_blank">
        <i class="fa-brands fa-github fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://hachyderm.io/@murtaza" target="_blank">
        <i class="fa-brands fa-mastodon fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://x.com/murtaza_u_" target="_blank">
        <i class="fa-brands fa-x-twitter fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/murtaza-u" target="_blank">
        <i class="fa-brands fa-linkedin fa-lg"></i>
      </a>
    </li>
  </ul>
</nav>
