{% extends "base.html" %}

{% block title %}Murtaza Udaipurwala's Blog{% endblock %}
{% block css %}
<link href="/blog.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="title">{{ section.title }}</h1>
    <ul id="links">
      {% for page in section.pages %}
      <li>
        <time datetime="{{ page.date }}">{{ page.date }}</time> -
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}