<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title  }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="{{ page.title }}">
  <meta name="author" content="Murtaza Udaipurwala">

  <!-- favicon -->
  <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="canonical" href="https://murtazau.xyz">
  <link href="https://pvinis.github.io/iosevka-webfont/7.0.2/iosevka.css" rel="stylesheet" />

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@murtaza_u_">
  <meta name="twitter:title" content="{{ page.title }}">

  <!-- ogp -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="Murtaza Udaipurwala's Blog">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ page.title }}",
    "image": "https://murtazau.xyz/face-300x.jpg",
    "url": "https://murtazau.xyz/blog",
    "datePublished": "{{ page.date }}"
  }
  </script>

  <link href="/blog-page.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <h1 class="title">{{ page.title }}</h1>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  {{ page.content | safe }}
</div>
</body>

</html>